<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
        <title>{{ title }}</title>
    <style>

        .button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
    </style>
</head>
  <body>
    <header>
    <br>
	<h1><center>h a l e i n e .</center></h1>
	  <div class="menu">
          <a href="/login">account</a>
          <a href="/#mapp">map</a>
          <a href="/#hud">fav.museum</a>
          <a href="/#kar">fav.paintings</a>
          <a href="/">home</a></div>
    </header>
    <br><br><br><br><br><br><br>



    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>

  </body>
</html>
